@import url(https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&Inter:wght@400;600&family=Rubik:wght@400;600&display=swap);
@import url(./katex.css);

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,ƒ
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    --base-font-size: 16px;
    --base-font-family:
        Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        Source Han Sans SC, Noto Sans CJK SC, Sarasa Gothic SC, Microsoft YaHei,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --title-font-family:
        Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
        Source Han Sans SC, Noto Sans CJK SC, Sarasa Gothic SC, Microsoft YaHei,
        sans-serif, Apple Color Emoji, Segoe UI Emoji;
    --monospace-font-family:
        IBM Plex Mono, Ubuntu Mono, Consolas, Liberation Mono, Menlo, monospace;
}

html {
    --bg-color: #fafafa;
    --bg-color-rgb: 250, 250, 250;
    --bg-content-color: #fff;
    --bg-content-color-lighten: #ffffffee;
    --bg-code: #f1f3f4;
    --text-code: #d400ff;
    --text-code-block: #37474f;
    --body-color: #000;
    --title-color: #000;
    --link-color: #0070f3;
    --border-color: rgba(0, 0, 0, 0.1);
    --selection-color: #79ffe1;
    --space: 3.5rem;
    --content-width: 860px;
    --header-height: 60px;
    --radius: 5px;
    --toast-width: 400px;
    --shadow-small:
        1px 1px 10px 0 rgba(0, 0, 0, 0.2), 1px 1px 30px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 650px) {
    html {
        --base-font-size: 16px;
    }

    body {
        --space: 1.3rem;
        --header-height: 60px;
        --toast-width: 280px;
    }
}

html[data-theme="dark"] {
    --bg-color: #101213;
    --bg-color-rgb: 16, 18, 19;
    --bg-content-color: #2d3235;
    --bg-content-color-lighten: #2d3235ee;
    --bg-code: #1e2224;
    --text-code-block: #fff;
    --border-color: hsla(0, 0%, 100%, 0.1);
    --body-color: #ced8de;
    --title-color: #fff;
    --link-color: #2a89f5;
    --text-code: #df41ff;
}

html {
    font-size: var(--base-font-size);
    scrollbar-gutter: stable;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-weight: 400;
}

body,
p {
    font-family: var(--base-font-family);
}

p {
    margin-bottom: 1.25em;
}

figcaption {
    margin: 1em 0;
    text-align: center;
    opacity: 0.7;
}

.navlink,
.notification-content,
figcaption,
li,
ol,
table,
ul {
    font-family: var(--base-font-family);
}

h1,
h2,
h3,
h4,
h5 {
    transition: color 0.6s;
    color: var(--title-color);
    margin: 2.75rem 0 1rem;
    font-family: var(--title-font-family);
    font-weight: 600;
    line-height: 1.5;
}

h1 {
    margin-top: 0;
    font-size: 1.802em;
}

h2 {
    font-size: 1.602em;
}

h3 {
    font-size: 1.424em;
}

h4 {
    font-size: 1.266em;
}

h5 {
    font-size: 1.125em;
}

small {
    font-size: 0.889em;
}

strong {
    font-weight: 600;
}

blockquote {
    border-left: 4px solid var(--border-color);
    padding-left: calc(var(--space) / 2);
    color: var(--title-color);
}

blockquote p {
    opacity: 0.7;
}

em {
    font-style: italic;
}

ul {
    list-style-type: disc;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    line-height: 1.8;
}

ul li {
    margin-bottom: 0.6em;
}

ol {
    list-style-type: decimal;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
    line-height: 1.8;
}

ol li {
    margin-bottom: 0.6em;
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 1.562em;
    }

    h2 {
        font-size: 1.461em;
    }

    h3 {
        font-size: 1.314em;
    }

    h4 {
        font-size: 1.166em;
    }

    h5 {
        font-size: 1.025em;
    }
}

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: var(--bg-color);
    color: var(--body-color);
    transition:
        color 0.6s,
        background-color 0.6s;
    font-family:
        -apple-system,
        system-ui,
        BlinkMacSystemFont,
        Segoe UI,
        Roboto,
        Helvetica Neue,
        Arial,
        sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

body ::-moz-selection {
    background-color: var(--selection-color);
}

body ::selection {
    background-color: var(--selection-color);
}

a:not(.button) {
    color: var(--link-color);
    transition: opacity 0.2s;
}

a:not(.button):hover {
    opacity: 0.8;
}

img {
    max-width: 100%;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    margin-bottom: 1.25em;
}

table tr {
    border-top: 1px solid #c6cbd1;
}

table td,
table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

table th {
    font-weight: 600;
    background-color: var(--bg-code);
}

sup {
    position: relative;
    top: -0.3em;
    vertical-align: top;
    color: var(--link-color);
    margin: 0 0.2em;
}

sup:before {
    content: "[";
}

sup:after {
    content: "]";
}

hr {
    text-align: center;
    border: none;
    margin: calc(var(--space) / 2) 0;
}

hr:before {
    content: "...";
    letter-spacing: 0.6em;
    font-size: 1.2em;
}

pre {
    padding: calc(var(--space) / 3) var(--space);
    font-size: 1em;
    background-color: var(--bg-code);
    margin: 1em calc(0em - var(--space));
}

pre code {
    padding: 0;
    background-color: transparent;
}

code {
    background-color: var(--bg-code);
    font-size: 0.9em;
    padding: 0.2em 0.5em;
}

code,
pre {
    font-family: var(--monospace-font-family);
    text-align: left;
    white-space: pre-wrap;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    hyphens: none;
}

@media print {
    code,
    pre {
        text-shadow: none;
    }
}

pre {
    overflow: auto;
    color: var(--text-code-block);
}

:not(pre) > code {
    color: var(--text-code);
    white-space: normal;
    /* background-color: var(--bg-content-color); */
}

:not(pre) > code:after,
:not(pre) > code:before {
    content: "`";
}

.content-box {
    background-color: var(--bg-content-color);
    max-width: var(--content-width);
    margin: 0 auto;
    transition: background-color 0.6s;
    padding: var(--space);
    border-radius: var(--radius);
    box-shadow:
        1px 1px 5px 0 rgba(0, 0, 0, 0.02),
        1px 1px 15px 0 rgba(0, 0, 0, 0.03);
    transition:
        transform 0.3s,
        background-color 0.3s,
        box-shadow 0.6s;
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}

.space-bottom {
    margin-bottom: var(--space);
}

:root {
    --accent-color: #0070f3;
}

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: var(--accent-color);
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
}

#nprogress .peg {
    display: none;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow:
        0 0 10px var(--accent-color),
        0 0 5px var(--accent-color);
    opacity: 1;
    transform: rotate(3deg) translateY(-4px);
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .bar,
.nprogress-custom-parent #nprogress .spinner {
    position: absolute;
}

.fullwidth {
    max-width: var(--content-width);
    margin: 0 auto;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

#nprogress-container {
    display: flex;
    align-items: center;
    min-height: var(--header-height);
    padding: 0 calc(var(--space) / 2);
    top: 0;
    background-color: hsla(0, 0%, 100%, 0.6);
    background-color: rgba(var(--bg-color-rgb), 0.6);
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
    z-index: 10;
    position: sticky;
}

@media screen and (min-width: 1300px) {
    #nprogress-container {
        width: 100%;
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#sitename {
    margin-right: 1.2em;
}

.logo {
    text-decoration: none;
    color: var(--body-color) !important;
    font-size: 0.9em;
}

.logo__image {
    vertical-align: middle;
    border-radius: 99px;
    height: 40px;
    width: 40px;
    margin-right: 0.5em;
}

.toggle-theme {
    background-color: transparent;
    border: 0;
    color: var(--body-color);
    cursor: pointer;
}

.toggle-theme:hover {
    opacity: 0.8;
}

.toggle-theme:focus {
    outline: none;
}

#app {
    scroll-behavior: smooth;
}

.header__left,
.header__right {
    display: flex;
    align-items: center;
    font-family: var(--base-font-family);
}

.main {
    margin: 0 auto;
    padding: 1.5vw 15px 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--space) 15px var(--space);
    text-align: center;
    line-height: 1.8;
    font-size: 0.9em;
    font-family: var(--base-font-family);
    margin-top: auto;
}

.footer > span {
    margin: 0.25em;
}

.footer a {
    color: currentColor;
}

.footer svg {
    max-width: 0.9rem;
}

.footer #rss-stats {
    padding-top: 0.35rem;
}

.footer #rss-stats a {
    margin-right: 0.35rem;
}

.friends-container {
    max-width: var(--content-width);
    margin-left: auto;
    margin-right: auto;
}

.friends-container .btn {
    margin: 0.3em 0.6em 0.3em 0;
    text-decoration: none;
    padding: 0.5em;
    border-radius: var(--radius);
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.friends-container .btn .avatar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 48px;
    height: 48px;
    border-radius: var(--radius);
    background-color: #fff;
    transform: rotate(20deg) translate(-15%);
}

.friends-container .btn span {
    margin-left: 2.6em;
}

.friends-note {
    margin: calc(var(--space) / 2) 0;
    font-size: 0.9em;
    opacity: 0.8;
    text-align: center;
}

.posts p span {
    font-size: 0.85rem;
    font-family: var(--monospace-font-family);
}

.posts p span:after {
    content: " ";
}

.not-found-container {
    text-align: center;
    max-width: var(--content-width);
    margin: 0 auto;
}

.not-found-container .description {
    opacity: 0.8;
}

.post-meta {
    font-size: 0.8em;
    opacity: 0.8;
}

.post-tags {
    margin: 1em 0 0;
}

.post-tags__link {
    margin: 0.3em 0.6em 0.3em 0;
    font-size: 0.8em;
    color: currentColor;
    text-decoration: none;
    background-color: var(--bg-color);
    color: currentColor !important;
    padding: 0.5em;
    border-radius: var(--radius);
    display: inline-block;
}

.author {
    margin: 2rem auto 0;
    max-width: 500px;
    text-align: center;
    padding: calc(var(--space) / 2) 0;
}

.author__image {
    border-radius: 100%;
    width: 90px;
    height: 90px;
    margin-bottom: 1em;
}

.author__intro {
    opacity: 0.8;
}

.author__site-title {
    font-size: 1.5em;
}

.author__links {
    margin-top: -0.5em;
    font-size: 1em;
    display: flex;
    justify-content: center;
}

.author__links a {
    color: var(--link-color);
    margin: 0 0.5em;
    text-decoration: none;
}

.post-title {
    padding: var(--space) 0 var(--space);
    text-align: center;
}

.post-title__publish-icon {
    vertical-align: top;
    background-color: #f7b955;
    display: inline-block;
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    border-radius: 3px;
    padding: 0 6px;
    color: #fff;
}

.post-meta {
    font-family: var(--base-font-family);
}

.post__header {
    width: calc(100% + var(--space) * 2);
    margin-left: calc(var(--space) * -1);
    margin-top: calc(var(--space) * -1);
    margin-bottom: calc(var(--space) / 2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
}

.post__header img {
    width: 100%;
}

.post__header:empty {
    display: none;
}

.post__content h2:first-child {
    margin-top: 0;
}

.post__content p {
    line-height: 1.8;
}

.post__content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.post__navigation {
    border-top: 1px solid var(--border-color);
    margin-top: calc(var(--space) / 2);
    padding: calc(var(--space) / 2) 0 0 0;
    overflow: auto;
}

.post__navigation .navlink {
    border: none;
    text-decoration: none;
}

.post__navigation .navlink:first-of-type {
    margin-bottom: calc(var(--space) / 4);
}

.footnotes p {
    display: inline;
}

.footnotes hr {
    padding: calc(var(--space) / 2) 0 0 0;
    border: none;
    border-top: 1px solid var(--border-color);
    margin: 0;
}

.footnotes .footnote-backref {
    display: inline;
}

.post-comments {
    font-family: var(--base-font-family);
    padding: calc(var(--space) / 2);
    max-width: var(--content-width);
    margin: 0 auto;
}

.post-author {
    margin-top: calc(var(--space) / 2);
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 100;
    cursor: pointer;
}

#back-to-top {
    display: none;
}

#back-to-top.active {
    display: block;
}

#back-to-top-icon {
    font-size: 1.1em;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.post {
    display: flex;
    flex-direction: column;
    gap: var(--space); /* 代替 .post-card margin-bottom */
}

.post-card {
    margin-bottom: 0;
    position: relative;
}

.post-card__header {
    margin: calc(var(--space) * -1) calc(var(--space) * -1)
        calc(var(--space) / 2);
    overflow: hidden;
    border-radius: var(--radius) var(--radius) 0 0;
    position: relative;
    display: inline-block;
}

.post-card__header:empty {
    display: none;
}

.post-card__header img {
    display: block;
}

.post-card__image {
    min-width: 100%;
    width: var(--content-width);
    aspect-ratio: 16 / 5;
    height: auto;
    object-fit: cover;
    vertical-align: bottom;
}

.post-card__title {
    margin-top: 0;
}

.post-card:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 30px 0 rgba(0, 0, 0, 0.1);
}

.post-card__tags {
    z-index: 1;
    position: relative;
}

.post-card__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    text-indent: -9999px;
    z-index: 0;
}

.post__footer {
    margin-top: calc(var(--space) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feather.feather-moon,
.feather.feather-sun {
    display: none;
}

/* 自定义 */
html[data-theme="light"] .feather-moon {
    display: block;
}

html[data-theme="dark"] .feather-sun {
    display: block;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 650px) {
    .wl-editor {
        min-height: auto !important;
    }
}

svg {
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .docsearch-btn > * {
        margin-right: auto !important;
    }
}

@media screen and (max-width: 650px) {
    .post .post-meta {
        display: none;
    }
}

.expressive-code {
    margin: 1rem 0 1.25rem 0;
}

/* fix mathjax style */
.MathJax {
    text-align: left !important;
}

.archive-meta {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.archive-date {
    display: flex;
    margin-left: 1rem;
    min-width: 3rem;
    color: gray;
    justify-content: flex-end;
}

.archive-title {
    margin-left: 0.5rem;
    text-decoration: none;
}

.archive-title:hover {
    text-decoration: underline;
}

.donate {
    margin-top: 3.5rem;
}

@media screen and (max-width: 650px) {
    .donate {
        display: none;
    }
}

.logo__text img {
    border-radius: 100%;
    margin-right: 0.5rem;
    vertical-align: middle;
}

#waline {
    min-height: 38rem;
    max-width: var(--content-width);
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 var(--space);
}

@media screen and (max-width: 650px) {
    #waline {
        padding: unset;
    }
}

html[data-theme="dark"] {
    --waline-color: #ced8de !important;
}

#content_progress {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 2px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-color: transparent;
    color: #2ea997;
}

#content_progress::-webkit-progress-bar {
    background-color: transparent;
}

#content_progress::-webkit-progress-value {
    background-color: var(--progress-color, #2ea997);
}

#content_progress::-moz-progress-bar {
    background-color: var(--progress-color, #2ea997);
}

.analytics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.analytics img {
    padding: 0 0.2rem;
}

@media screen and (max-width: 650px) {
    .post-card__image {
        max-height: 10rem;
    }
}