a {
    text-decoration: none;
    color: var(--main-font-color);
}

main {
    min-height: 66dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redirect {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
    max-width: calc(var(--content-width) / 3 * 2);
    background-color: var(--bg-content-color);
    border: 1px solid var(--border-color);
}

.redirect .redirect-tip {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    opacity: 0.4;
}

.redirect #url {
    display: block;
    padding: 12px 20px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
    color: var(--link-color);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.redirect #site-info {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
}

.redirect #jump-content.warn {
    color: var(--cb-color-warning);
}

.redirect #jump-content.safe {
    color: var(--cb-color-note);
}

.redirect #jump-content.danger {
    color: var(--cb-color-danger);
}

.redirect #jump-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 160px;
    margin: 30px auto 0;
    border-radius: 8px;
    color: var(--main-font-color);
    background-color: var(--border-color);
    transition: background-color 0.3s;
    cursor: pointer;
}

.redirect #jump-button:hover {
    background-color: var(--bg-color);
}
