:root {
    --B0: #fff;
    --B10: #f8f8f9;
    --B20: #f7f7f8;
    --B30: #efefef;
    --B40: #e5e5e5;
    --B60: #8e8787;
    --B80: #655e5e;
    --B100: #292525;
    --green: #3fd67e;
    --red: #fd281a;
    --sspai-red: #d71a1b;
    --blue: #44b9fb;
    --pink: #ff2c78;
    --white: #f4f4f4;
    --orange: #fc7310;
    --prime-blue: #0355e3;
    --B80-t: #8e8787;
    --B60-t: #655e5e;
}

html[data-theme="dark"]:root {
    color-scheme: dark;
    --B0: #232222;
    --B10: #272626;
    --B20: #171514;
    --B30: #2b2929;
    --B40: #373737;
    --B60: #7f7f7f;
    --B80: #cac3c3;
    --B100: #fff;
    --green: #57ef96;
    --red: #f94135;
    --sspai-red: #d71a1b;
    --blue: #44b9fb;
    --pink: #ed638c;
    --white: #171514;
    --orange: #ee6c35;
    --prime-blue: #3577e8;
    --B60-t: #fafafa;
    --B80-t: #7f7f7f;
}

:root {
    --a-dur-default: 0.36s;
    --a-func-default: cubic-bezier(0.5, 0, 0, 1);
    --a-dur-short: 0.15s;
    --a-func-short: cubic-bezier(0, 0, 0, 1);
}

.toc__content {
    position: fixed;
    left: calc((100vw - min(100vw, 664px)) / 2 + min(100vw, 664px) + 178px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 90;
    padding: 10px 0;
    width: auto;
    max-height: 600px;
    overflow: hidden;
}

@media screen and (max-width: 1440px) {
    .toc__content {
        left: calc(100vw - 200px);
    }
}

@media screen and (max-width: 1280px) {
    .toc__content {
        display: none;
    }
}

.toc__content:hover {
    overflow: auto;
}

.toc__content:hover .toc-list-item .toc-link {
    display: inline-block;
    opacity: 1;
    cursor: pointer;
}

.toc__content .toc-list-item {
    text-align: left;
    margin-bottom: 0px;
}

.toc__content .toc-list-item .toc-link {
    font-size: 12px;
    line-height: 17px;
    color: var(--B80-t);
    display: inline-block;
    opacity: 0;
    width: 9rem;
    vertical-align: middle;
    text-align: left;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    margin-top: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}

.toc__content .toc-list-item .toc-link:hover {
    color: var(--B60-t);
    display: inline-block;
    opacity: 1;
    cursor: pointer;
}

.toc__content .toc-list-item .toc-link {
    margin-left: 8px;
}

html[data-theme="dark"] .toc__content .toc-list-item .toc-link {
    color: var(--B80-t);
}

html[data-theme="dark"] .toc__content .toc-list-item .toc-link:hover {
    color: var(--B60-t);
}

ol {
    list-style-type: none;
}

.toc__content {
    overflow-y: auto;
}

.toc__content > .toc-list {
    overflow: hidden;
    position: relative;
}

.toc__content > .toc-list li {
    list-style: none;
}

.toc-list {
    margin: 0;
    padding-left: 10px;
}
a.toc-link {
    color: currentColor;
    height: 100%;
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0;
}

.is-position-fixed {
    position: fixed !important;
    top: 0;
}

.is-active-link {
    font-weight: 800;
}
